<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">        
    </head>

    <body>
        <div class="content">
        {{>header}}
        <h2>Jim Bruce</h2>
        <img class="author" src="/img/t812442a.png">
        </div>
        {{>footer}}        
    </body>
</html>