<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="content">

        {{>header}}
        <p>Use this to get weather</p>

        <form>
            <input placeholder="Address">
            <button>Search</button>
        </form>

        <p id="message-location"></p>

        <p id="message-currently"></p>

        <p id="message-error"></p>

        </div>
        {{>footer}}        

<script src="/js/client.js"></script>

    </body>
</html>
